openapi: 3.1.0
info:
  title: Polygon.io REST API (Stocks) Aggregates Reference API
  version: '1.0'
  description: 'Polygon.io (rebranded as Massive in early 2026) exposes real-time

    and historical US equity market data via a REST API at

    `https://api.polygon.io`. This specification captures a

    representative subset of the Stocks API: aggregate bars and ticker

    reference. Authentication uses an API key, sent either as the

    `apiKey` query parameter or as `Authorization: Bearer <apiKey>`.

    '
  contact:
    name: Polygon.io / Massive Documentation
    url: https://polygon.io/docs/stocks
servers:
- url: https://api.polygon.io
  description: Polygon.io REST API
security:
- apiKeyQuery: []
- bearerAuth: []
tags:
- name: Reference
  description: Ticker reference data.
paths:
  /v3/reference/tickers:
    get:
      tags:
      - Reference
      operationId: listTickers
      summary: List ticker symbols
      description: Retrieve a comprehensive list of ticker symbols supported across asset classes.
      parameters:
      - in: query
        name: ticker
        schema:
          type: string
        description: Filter by specific ticker symbol.
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: market
        schema:
          type: string
          enum:
          - stocks
          - crypto
          - fx
          - otc
          - indices
      - in: query
        name: exchange
        schema:
          type: string
      - in: query
        name: active
        schema:
          type: boolean
      - in: query
        name: search
        schema:
          type: string
      - in: query
        name: order
        schema:
          type: string
          enum:
          - asc
          - desc
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - in: query
        name: sort
        schema:
          type: string
      responses:
        '200':
          description: Tickers response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickersResponse'
  /v3/reference/tickers/{ticker}:
    get:
      tags:
      - Reference
      operationId: getTickerDetails
      summary: Get ticker details
      description: Retrieve detailed reference information for a single ticker symbol.
      parameters:
      - in: path
        name: ticker
        required: true
        schema:
          type: string
      - in: query
        name: date
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Ticker details response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TickerDetailsResponse'
components:
  schemas:
    TickersResponse:
      type: object
      properties:
        status:
          type: string
        request_id:
          type: string
        count:
          type: integer
        next_url:
          type: string
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/Ticker'
    Ticker:
      type: object
      properties:
        ticker:
          type: string
        name:
          type: string
        market:
          type: string
        locale:
          type: string
        primary_exchange:
          type: string
        type:
          type: string
        active:
          type: boolean
        currency_name:
          type: string
        cik:
          type: string
        composite_figi:
          type: string
        share_class_figi:
          type: string
        last_updated_utc:
          type: string
          format: date-time
    TickerDetailsResponse:
      type: object
      properties:
        status:
          type: string
        request_id:
          type: string
        results:
          allOf:
          - $ref: '#/components/schemas/Ticker'
          - type: object
            properties:
              description:
                type: string
              homepage_url:
                type: string
                format: uri
              list_date:
                type: string
                format: date
              market_cap:
                type: number
              phone_number:
                type: string
              sic_code:
                type: string
              sic_description:
                type: string
              total_employees:
                type: integer
              weighted_shares_outstanding:
                type: number
              address:
                type: object
                additionalProperties: true
              branding:
                type: object
                properties:
                  logo_url:
                    type: string
                    format: uri
                  icon_url:
                    type: string
                    format: uri
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
